@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "../utilities/variables";
@import "../utilities/functions";
@import "../base/typography";

.registration {
  h3 {
    position: relative;
    margin-bottom: response(40px);
    padding: 0 response(80px);
    text-align: center;
    @extend .font-mono-3;
    color: var(--dark);

    &:before {
      content: '';
      display: block;
      width: calc(125px * var(--responsive-key));
      height: 2px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate3d(-50%, calc(-25px * var(--responsive-key)), 0);
      background-color: var(--green);
    }
  }

  #registration-form {
    margin: 0 30%;
    @include media-breakpoint-down(md) {
      margin: 0;
    }

    .form-control {
      min-height: response(60px);
      @extend .font-secondary;
      border-radius: 0;
      border-color: transparent;
      color: var(--gray);
      background-color: var(--bg-light);

      &:hover, &:focus, &:active {
        box-shadow: none;
        outline: none;
      }
    }

    .form-group {
      &:last-of-type {
        margin: response(30px) 0;
        text-align: center;
      }
    }
  }
}