@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "../../scss/utilities/variables";
@import "../../scss/utilities/functions";
@import "../../scss/base/typography";

#footer {
  position: relative;
  padding: response(90px) 0 response(150px) 0;
  background-color: var(--bg-dark);

  #footer-site-map {
    .footer-column {
      h3 {
        @extend .font-mono-2;
        letter-spacing: 1px;
        color: var(--green);
      }

      .about-us-lead {
        @extend .font-secondary;
        color: var(--gray);
        letter-spacing: 0;
      }

      .nav {
        .nav-link {
          padding-left: 0;
          @extend .font-mono-4;
          color: var(--white);
          letter-spacing: 0;
          transition: color .45s ease-in-out;

          &:hover {
            color: var(--green);
          }
        }
      }

      .footer-last-post {
        article {
          h4 {
            @extend .font-mono-5;
            letter-spacing: 0;
            color: #b7b6b4;
          }

          p {
            a {
              @extend .font-mono-4;
              letter-spacing: 0;
              color: var(--white);
              transition: color .45s ease-in-out;

              &:hover, &:focus {
                text-decoration: none;
                color: var(--green);
              }
            }
          }
        }
      }

      .footer-address {
        p {
          @extend .font-secondary;
          letter-spacing: 0;
          color: var(--white);

          &:first-of-type {
            color: var(--gray);
          }
        }

        .footer-icon {
          margin-right: response(5px);
          display: inline-block;
          width: response(24px);
          height: response(24px);

          img {
            width: response(24px);
            height: response(24px);
          }
        }

        a {
          color: var(--white);
          transition: color .45s ease-in-out;
          &:hover {
            color: var(--green);
            text-decoration: none;
          }
        }
      }
    }
  }

  #footer-copy-rights {
    padding: response(30px) 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #231f2c;

    p {
      margin: 0;
      @extend .font-secondary;
      letter-spacing: 0;
      color: var(--gray);
    }
  }
}