@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "../../scss/utilities/variables";
@import "../../scss/utilities/functions";
@import "../../scss/base/typography";

#user-panel {
  display: none;

  .user-avatar {
    img {
      vertical-align: middle;
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }

  .dropdown-toggle {
    border-radius: 0;
    background-color: transparent;
    border-color: transparent;
    font: normal 300 response(14px)/1.7 var(--font-family-poppins);
    color: var(--dark);

    &:focus {
      box-shadow: none;
    }
  }

  .dropdown-menu {
    left: 0;
    width: 100%;

    .dropdown-item {
      font: normal 300 response(14px)/1.7 var(--font-family-poppins);

      &:hover {
        cursor: pointer;
      }

      .balance-value {
        font-size: response(16px);
        font-weight: 500;
      }
    }
  }

  #dropdown-menu-user-panel {
    .fa-credit-card-alt {
      font-size: 12px;
    }

    @include media-breakpoint-down(md) {
      width: calc(100% + 4px);
      background-color: var(--dark);
      border: 1px solid var(--green);
      transform: translate3d(-2px, 0, 0);
      .dropdown-item {
        padding-left: response(16px);
        color: var(--white);
      }
    }
  }
}