@import "utilities/variables";
@import "utilities/functions";
@import "utilities/mixins";
@import "vendors/bootstrap";
@import "~swiper/swiper-bundle.css";
@import "~ion-rangeslider/css/ion.rangeSlider.min.css";
@import "base/typography";
/* Layout */
@import "layout/spinner";
@import "layout/navbar";
@import "layout/video-header";
@import "layout/description";
@import "layout/plants-swiper";
@import "layout/statistics";
@import "layout/investment-calculator";
@import "layout/last-news";
@import "layout/contact-us";
@import "layout/our-team";
@import "layout/investments";
@import "layout/footer";
@import "layout/modal";
@import "layout/user-panel";

/* Pages */
@import "pages/page";
@import "pages/our-power-plants";
@import "pages/about-us";
@import "pages/faq";
@import "pages/team";
@import "pages/contacts";
@import "pages/log-in";
@import "pages/registration";

@include responsive();

*::-moz-selection {
    background-color: var(--teal);
}

*::selection {
    background-color: var(--teal);
}

body {
  font: 300 1rem var(--font-family-sans-serif);
  color: var(--dark);
}

.btn-main {
    min-width: response(178px);
    min-height: response(58px);
    background-color: var(--green);
    border: response(1px) solid var(--green);
    border-radius: 0;
    color: var(--white);
    font-weight: 300;
    transition: color .45s ease-in-out, background-color .45s ease-in-out;
    &:hover, &:focus {
        text-decoration: none;
        background-color: var(--white);
        color: var(--green);
    }
}

#button {
    display: inline-block;
    background-color: var(--green);
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 60px;
    right: 40px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    &:hover, &:focus {
        text-decoration: none;
        cursor: pointer;
        background-color: var(--gray);
    }
    &:after {
        content: "\f062";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 2em;
        line-height: 60px;
        color: var(--white);
        @include media-breakpoint-down(md) {
            font-size: 1.4em;
            line-height: 40px;
        }
    }
    &:active {
        background-color: var(--dark);
    }
    &.show {
        opacity: 1;
        visibility: visible;
    }

    @include media-breakpoint-down(md) {
        width: 40px;
        height: 40px;
        bottom: 40px;
        right: 20px;
    }
}

main {
    display: none;
}